<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <NavLink href="/houseMain" ActiveClass="active-link">
                Houses
            </NavLink>
            <NavLink href="/houseSold" ActiveClass="active-link">
                Sold Houses
            </NavLink>
            <NavLink href="/about" ActiveClass="active-link">
                About
            </NavLink>
        </ul>
    </nav>
</div>